@font-face {
  font-family: temperature;
  src: url(../public/unispace\ bd.ttf);
}
html,
html::before,
html::after {
  box-sizing: border-box;
}
html * {
  box-sizing: inherit;
}
.App {
  background-color: #f1f8fd;
  color: #0e0e0e;
  font-size: calc(12px + 2vmin);
  font-weight: 200;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.App-header {
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.city-nav {
  display: flex;
  justify-content: center;
  width: 40vw;
  min-width: 320px;
  height: 12vh;
}
.city-nav-list {
  margin: 1.5em 0;
  padding: 0;
  list-style-type: none;
  font-size: calc(16px + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.city-nav-item.active {
  color: #61abd8;
  font-weight: 700;
}
.city-nav-item:hover {
  cursor: pointer;
  color: #61abd8;
}
.App-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-content .weather-panel {
  background-color: white;
  position: relative;
  display: flex;
  width: 50%;
  min-width: 300px;
  height: 70vh;
  min-height: 460px;
  left: 0%;
  right: 0%;
  border: 3px solid white;
  border-radius: 16px;
  box-shadow: 0px 10px 40px #c8d1d5;
}
.weather-panel-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.current-weather-section {
  flex: 4;
  display: flex;
}
.upcoming-weather-section {
  flex: 3;
  display: flex;
}
.upcoming-weather-section .weather-card:first-child {
  border-bottom-left-radius: 16px;
}
.upcoming-weather-section .weather-card:last-child {
  border-bottom-right-radius: 16px;
}
.weather-card {
  flex: 1;
  background-color: #f1f8fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.weather-card .fa-solid {
  font-size: calc(16px + 4vmin);
}
.weather-card .card-content-info-temp {
  font-family: temperature, sans-serif;
}
.weather-card .card-title {
  font-size: calc(8px + 2vmin);
}
.weather-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.weather-card .card-content-info {
  margin-top: 16px;
}
.weather-card.large {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.weather-card.large .card-title {
  font-size: calc(12px + 3vmin);
}
.weather-card.large .card-content {
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.weather-card.large .card-content-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 24px;
  margin-top: 0;
}
.weather-card.large .card-content-info-temp {
  font-size: calc(26px + 4vmin);
}
.weather-card.large .fa-solid {
  font-size: calc(40px + 10vmin);
}
.card-content-info-temp {
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  .current-weather-section {
    flex: 2;
  }
  .upcoming-weather-section {
    flex-direction: column;
  }
  .upcoming-weather-section .weather-card {
    flex-direction: row;
    padding: 6px;
  }
  .upcoming-weather-section .card-title {
    flex: 1;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
  }
  .upcoming-weather-section .card-content {
    flex: 1;
    text-align: left;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 16px;
  }
  .upcoming-weather-section .card-content-info {
    margin: 0 32px;
  }
  .upcoming-weather-section .weather-card:first-child {
    border-bottom-left-radius: 0;
  }
  .upcoming-weather-section .weather-card:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
